# Laravel
/vendor
/node_modules
/public/storage
/public/hot
/public/mix-manifest.json
/public/build
/storage/*.key
/storage/debugbar
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/bootstrap/cache/*.php

# Sensitive files
.env
.env.*.backup

# IDEs and editors
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
*.swp

# Other
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.phpunit.result.cache
Homestead.json
Homestead.yaml